.navbar {
  display: flex;
  flex-direction: row;
}

.search {
  flex: 1;
}

.filter {
  flex-basis: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.example-full-width {
  width: 100%;
}
